# User-specific files
.vscode/

# Pyinstaller junk
/build/jovial
/env
/jovial.spec

# Documentation
docs/HP-16C-Owners-Handbook.pdf
docs/Crafting-Interpreters.pdf
/docs/Dragon Book Compilers Principle Techniques and Tools 2nd Edtion.pdf
/docs/I wrote a programming language. Here’s how you can, too..pdf
/docs/Building Your Own Programming Language From Scratch HackerNoon.pdf
/docs/MIPS_Green_Sheet.pdf
/src/__pycache__
